.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.page1_style {
    margin-left: -20px;
    z-index: -1;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

/* styles.css */


